body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #2c2c2c; /* cinza grafite */
  color: #fff;
  padding: 20px 10px;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

main {
  padding: 30px 15px;
}

button {
  padding: 10px 20px;
  background-color: #2c2c2c;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #444;
}
